<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--导入spring的dao层配置文件-->
    <import resource="spring-dao.xml"/>
    <!--导入spring的reids配置文件-->
    <import resource="spring-redis.xml"/>

    <!--扫描com.goldsudo包下所有java类，寻找spring bean-->
    <context:component-scan base-package="com.goldsudo"/>
    <!--定义shiroFilter-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.html"/>
        <property name="unauthorizedUrl" value="403.html"/>
        <property name="filterChainDefinitions">
            <value>
                /login.html = anon
                /login.do = anon
                /userRole.do = rolesOr["user","root"]
                /deleteFile.do = perms["file:delete"]
                /updateFile.do = perms["file:update"]
                /addFile.do = perms["file:add"]
                /* = authc
            </value>
        </property>
        <property name="filters">
            <util:map>
                <entry key="rolesOr" value-ref="rolesOrFilter"/>
            </util:map>
        </property>
    </bean>
    <!--自定义的shiro filter-->
    <bean class="com.goldsudo.filter.RolesOrFilter" id="rolesOrFilter"/>

    <!--创建SecurityManger对象-->
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="realm" ref="realm"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>
    <!--配置自定义的Realm-->
    <bean class="com.goldsudo.shiro.realm.CustomRealm" id="realm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
    <!--密码验证时进行md5的加密-->
    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="credentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="1"/>
    </bean>

    <bean class="com.goldsudo.session.CustomSessionManager" id="sessionManager">
        <property name="sessionDAO" ref="redisSessionDao"/>
    </bean>

    <bean class="com.goldsudo.session.RedisSessionDao" id="redisSessionDao"/>

</beans>